.about_page {
    display: flex;
    gap: 23px;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    background-color: #F8F8F8;
}

.about_wrap {
    width: 200px;
    height: 404px;
    display: flex ;
    justify-content: space-between;
    flex-direction: column;
}

.buttons_wrap {
    display: flex ;
    justify-content: space-between; 
    
}

.reg_button, .entry_button {
    padding: 6px 15px;
    background-color: #D9D9D9;
    border: none;
}

.description {
    text-align: left;
    font-size: 14px;
    line-height: normal;
}

.title {
    text-align: left;
    font-size: 36px;
}
