.list_exercises_item{
    font-size: 14px;
    font-weight: 500;
    width: 400px;
    height: 40px;
    background-color: #D9D9D9;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    gap: 47px;
}
