.list_item{
    font-size: 14px;
    font-weight: 500;
}

.item_wrapper{
    width: 400px;
    height: 40px;
    background-color: #D9D9D9;
    display: flex;
    margin: 0 auto;
    align-items: center;
    padding-left: 18px;
    gap: 47px;
}