.lk_header {
    height: 110px;
    width: 457px;
    margin: 9px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lk_buttons_wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 23px;
}

.button_header {
    background-color: white;
    border-style: none;
    font-size: 16px;
}


.button_header:hover{
    color: red;
}


.lk_avatar{
    border-radius: 100px;
    background-color: #8D8D8D;
    width: 110px;
    height: 110px;
}

.avatar_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lk_username{
    margin-left: 20px;
}

.categories_title{
    font-size: 32px;
    margin-top: 42px;
    margin-bottom: 47px;
    text-align: center;
}

.categories_button {
    margin: 0 auto;
    width: 560px;
    display: flex;
    margin-bottom: 17px;
    display: flex;
    justify-content: space-between;
    
}

.categories{
    display: flex;
    gap: 34px;
}



.list > li{
    display: flex;
    width: 530px;
    height: 80px;
    background-color: white;
    align-items: center;
}

.list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

