.lk_header {
    height: 110px;
    width: 457px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lk_buttons_wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 23px;
}

.button_header {
    background-color: white;
    border-style: none;
    font-size: 16px;
}


.button_header:hover{
    color: red;
}


.avatar{
    border-radius: 100px;
    background-color: #8D8D8D;
    width: 110px;
    height: 110px;
}

.avatar_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.username{
    margin-left: 20px;
}

.choisen_block{
    font-size: 32px;
    margin-top: 42px;
    margin-bottom: 47px;
    text-align: center;
}

.list_button {
    margin: 0 auto;
    width: 560px;
    display: flex;
    margin-bottom: 17px;
    display: flex;
    justify-content: space-between;
    
}

.two_button{
    display: flex;
    gap: 34px;
}

.list_choisen_block {
    display: flex;
    margin: 0 auto;
    background-color: #D9D9D9;
    height: 327px;
    width: 560px;
    margin-bottom: 11px;
}

.components_of_the_list > li{
    display: flex;
    width: 530px;
    height: 80px;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    margin: 11px 15px auto 15px;
    

}

.avatar_list{
    display: flex;
    margin: 0 auto;
    border-radius: 100px;
    background-color: #D9D9D9;
    width: 60px;
    height: 60px;
}

.list_description {
    margin: 0 auto;
    display: flex;
    justify-content: left;
    flex-direction: column;
    gap: 10px;
}

.short_description {
    width: 414px;
    height: 32px;
    color: black;
    font-size: 13px;
    font-weight: 400;
}

.training_title {
    width: 183px;
    height: 18px;
    font-size: 16px;
    font-weight: 500;
}

