html {
    background-color: #ffffff;
  }

  
  a {
    color: #000000;
    display:inline-block;
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    align-items: center;
    margin: 40px 0px 10px 0px;;
  }
  
  a1 {
    font-size: 20px;
    margin: 10px auto 10 auto;;
    align-items: center;
  }
  
  h2 {
    text-align: center;
    font-size: 35px;
    font-weight: 550;
    display:inline-block;
    margin: 60px auto 30px auto;; 
    color: #000000;
    width: 250px;
    height: 25px;
  }
  


  .Form_Content {
    background-color: #D9D9D9;
    margin: 200px 750px 30px 750px;
    position: relative;
    text-align: center;
    width: 400px;
    height: 500px;
  }

  .Form_Content_Auth {
    background-color: #D9D9D9;
    margin: 200px 750px 30px 750px;
    position: relative;
    text-align: center;
    width: 400px;
    height: 380px;
  }
  
  
  input[type=button], input[type=submit]  {
    background-color: #01C7AF;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px auto 0 auto;
    width: 60%;
  }
  
  
  input[type=text], input[type=email], input[type=password]  {
    background-color: #ffffff;
    
    color: #000000;
    padding: 11px 7px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px auto 5px auto;
    width: 60%;
    border: 2px solid #808080;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    height: 30%;

  }


  .FadeIn {
    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
  
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
  
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
  }
  
  .FadeIn_Second {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
    border: 3px solid #808080;
  }
  
  .FadeIn_Third {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s;
    border: 3px solid #808080;
  
  }
  
  .fadeIn_Fourth {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
  }
  
