.training_header{
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding-top: 14px;
    width: 537px;
    height: 140px;
    gap: 35px;
    
}

.training_image{
    border-radius: 100px;
    background-color: #8D8D8D;
    width: 140px;
    height: 140px;
}

.workout_title{
    padding-top: 52px;
    align-items: center;
    font-weight: 400;
}


.workout_button{
    display: flex;
    padding-top: 27px;
    gap: 14px;
}

.action_button{
    border: none;
    background-color: #D9D9D9;
    height: 25px;
    width: 90px;
    font-size: 12px;
}


.training_description{
    font-size: 14px;
    font-weight: 500;
    width: 537px;
    display: flex;
    margin: 0 auto;
    padding-top: 21px;
    padding-bottom: 25px;
}



.list_exercises_wrapper{
    margin-top: 25px;
    
}

.list_exercises{
    display: flex;
    flex-direction: column;
    gap: 13px;
    padding-bottom: 40px;    
}

.start_button{
    display: flex;
    margin: 0 auto;
    text-align: center;
    width: 180px;
    height: 30px;
    background-color: #D9D9D9;
    font-size: 15px;
    border: none;
    padding-top: 6px;
}