.general_information{
    display: flex;  
    flex-direction: column;
    gap: 10px;
}
.item_image{
    margin-left: 13px;
    margin-right: 28px;
    border-radius: 100px;
    background-color: #D9D9D9;
    width: 60px;
    height: 60px;
}

.short_description {
    width: 414px;
    height: 32px;
    color: black;
    font-size: 13px;
    font-weight: 400;
}

.item_title {
    width: 183px;
    height: 18px;
    font-size: 16px;
    font-weight: 500;
}

.list_item{
    cursor: pointer;
}