.navigation_links {
    display: flex;
    flex-direction: column;
    gap: 13px;
    margin-top: 91px;
    text-align: center;
    
}

.link {
    text-decoration: none;
    color: black;
    transition: all ease 0.3s;
}

.link_active {
    color:brown;
}

.link:hover {
    color: brown;
    transition: all ease 0.3s;
}